/* line 1, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-pink {
  color: #fff;
  background-color: #ffb5ba;
}

/* line 6, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-red {
  color: #fff;
  background-color: #be0032;
}

/* line 11, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-orange {
  color: #fff;
  background-color: #f38400;
}

/* line 16, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-yellow {
  color: #fff;
  background-color: #f3c300;
}

/* line 21, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-green {
  color: #fff;
  background-color: #008856;
}

/* line 26, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-blue {
  color: #fff;
  background-color: #00a1c2;
}

/* line 31, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-black {
  color: #fff;
  background-color: #000;
}

/* line 36, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-white {
  color: #000;
  background-color: #fff;
}

/* line 41, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-purple {
  color: #fff;
  background-color: #9a4eae;
  color: #fff;
  background-color: #9a4eae;
}

/* line 48, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-yellowish-pink {
  color: #fff;
  background-color: #ffb7a5;
}

/* line 53, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-reddish-orange {
  color: #fff;
  background-color: #e25822;
}

/* line 58, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-orange-yellow {
  color: #fff;
  background-color: #f6a600;
}

/* line 63, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-greenish-yellow {
  color: #fff;
  background-color: #dcd300;
}

/* line 68, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-yellow-green {
  color: #fff;
  background-color: #8db600;
}

/* line 73, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-yellowish-green {
  color: #fff;
  background-color: #27a64c;
}

/* line 78, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-bluish-green {
  color: #fff;
  background-color: #008882;
}

/* line 83, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-greenish-blue {
  color: #fff;
  background-color: #0085a1;
}

/* line 88, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-purplish-blue {
  color: #fff;
  background-color: #30267a;
}

/* line 93, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-reddish-purple {
  color: #fff;
  background-color: #870074;
}

/* line 98, ../../scss/w3-css/w3css-color-libraries-vivid.scss */
.w3-vivid-purplish-red {
  color: #fff;
  background-color: #ce4676;
}
