/* line 1, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-turquoise {
  color: #fff;
  background-color: #1abc9c;
}

/* line 6, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-emerald {
  color: #fff;
  background-color: #2ecc71;
}

/* line 11, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-peter-river {
  color: #fff;
  background-color: #3498db;
}

/* line 16, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-amethyst {
  color: #fff;
  background-color: #9b59b6;
}

/* line 21, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-wet-asphalt {
  color: #fff;
  background-color: #34495e;
}

/* line 26, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-green-sea {
  color: #fff;
  background-color: #16a085;
}

/* line 31, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-nephritis {
  color: #fff;
  background-color: #27ae60;
}

/* line 36, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-belize-hole {
  color: #fff;
  background-color: #2980b9;
}

/* line 41, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-wisteria {
  color: #fff;
  background-color: #8e44ad;
}

/* line 46, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-midnight-blue {
  color: #fff;
  background-color: #2c3e50;
}

/* line 51, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-sun-flower {
  color: #fff;
  background-color: #f1c40f;
}

/* line 56, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-carrot {
  color: #fff;
  background-color: #e67e22;
}

/* line 61, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-alizarin {
  color: #fff;
  background-color: #e74c3c;
}

/* line 66, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-clouds {
  color: #000;
  background-color: #ecf0f1;
}

/* line 71, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-concrete {
  color: #fff;
  background-color: #95a5a6;
}

/* line 76, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-orange {
  color: #fff;
  background-color: #f39c12;
}

/* line 81, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-pumpkin {
  color: #fff;
  background-color: #d35400;
}

/* line 86, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-pomegranate {
  color: #fff;
  background-color: #c0392b;
}

/* line 91, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-silver {
  color: #000;
  background-color: #bdc3c7;
}

/* line 96, ../../scss/w3-css/w3css-color-libraries-flat-ui.scss */
.w3-flat-asbestos {
  color: #fff;
  background-color: #7f8c8d;
}
