/* line 1, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-lime {
  color: #fff;
  background-color: #a4c400;
}

/* line 6, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-green {
  color: #fff;
  background-color: #60a917;
}

/* line 11, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-emerald {
  color: #fff;
  background-color: #008a00;
}

/* line 16, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-teal {
  color: #fff;
  background-color: #00aba9;
}

/* line 21, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-cyan {
  color: #fff;
  background-color: #1ba1e2;
}

/* line 26, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-blue {
  color: #fff;
  background-color: #3e65ff;
}

/* line 31, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-cobalt {
  color: #fff;
  background-color: #0050ef;
}

/* line 36, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-indigo {
  color: #fff;
  background-color: #6a00ff;
}

/* line 41, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-violet {
  color: #fff;
  background-color: #aa00ff;
}

/* line 46, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-pink {
  color: #fff;
  background-color: #f472d0;
}

/* line 51, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-magenta {
  color: #fff;
  background-color: #d80073;
}

/* line 56, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-crimson {
  color: #fff;
  background-color: #a20025;
}

/* line 61, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-red {
  color: #fff;
  background-color: #e51400;
}

/* line 66, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-orange {
  color: #fff;
  background-color: #fa6800;
}

/* line 71, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-amber {
  color: #fff;
  background-color: #f0a30a;
}

/* line 76, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-yellow {
  color: #fff;
  background-color: #e3c800;
}

/* line 81, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-brown {
  color: #fff;
  background-color: #825a2c;
}

/* line 86, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-olive {
  color: #fff;
  background-color: #6d8764;
}

/* line 91, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-steel {
  color: #fff;
  background-color: #647687;
}

/* line 96, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-mauve {
  color: #fff;
  background-color: #76608a;
}

/* line 101, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-taupe {
  color: #fff;
  background-color: #87794e;
}

/* line 106, ../../scss/w3-css/w3css-color-libraries-win8.scss */
.w3-win8-sienna {
  color: #fff;
  background-color: #a0522d;
}
