/* line 1, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-brown {
  color: #fff;
  background-color: #594d45;
}

/* line 6, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-red {
  color: #fff;
  background-color: #79533d;
}

/* line 11, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-olive {
  color: #fff;
  background-color: #595142;
}

/* line 16, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-field {
  color: #fff;
  background-color: #745d46;
}

/* line 21, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-earth {
  color: #fff;
  background-color: #ac7e54;
}

/* line 26, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-sand {
  color: #fff;
  background-color: #a9947b;
}

/* line 31, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-tan {
  color: #fff;
  background-color: #b49d80;
}

/* line 36, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-sandstone {
  color: #fff;
  background-color: #bcab90;
}

/* line 41, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-dark-green {
  color: #fff;
  background-color: #535640;
}

/* line 46, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-forest {
  color: #fff;
  background-color: #54504b;
}

/* line 51, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-light-green {
  color: #fff;
  background-color: #63613e;
}

/* line 56, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-green {
  color: #fff;
  background-color: #4a5444;
}

/* line 61, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-dark-gray, .w3-camo-dark-grey {
  color: #fff;
  background-color: #5c5c5b;
}

/* line 66, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-gray, .w3-camo-grey {
  color: #fff;
  background-color: #9495a5;
}

/* line 71, ../../scss/w3-css/w3css-color-libraries-camouflage.scss */
.w3-camo-black {
  color: #fff;
  background-color: #373538;
}
