/* line 1, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-dark-blue {
  color: #fff;
  background-color: #5856d6;
}

/* line 6, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-deep-blue {
  color: #fff;
  background-color: #007aff;
}

/* line 11, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-blue {
  color: #fff;
  background-color: #34aadc;
}

/* line 16, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-light-blue {
  color: #fff;
  background-color: #5ac8fa;
}

/* line 21, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-green {
  color: #000;
  background-color: #4cd964;
}

/* line 26, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-pink {
  color: #fff;
  background-color: #ff2d55;
}

/* line 31, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-red {
  color: #fff;
  background-color: #ff3b30;
}

/* line 36, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-orange {
  color: #fff;
  background-color: #ff9500;
}

/* line 41, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-yellow {
  color: #000;
  background-color: #fc0;
}

/* line 46, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-grey {
  color: #fff;
  background-color: #8e8e93;
}

/* line 51, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-light-grey {
  color: #000;
  background-color: #ceced2;
}

/* line 56, ../../scss/w3-css/w3css-color-libraries-ios.scss */
.w3-ios-background {
  color: #000;
  background-color: #efeff4;
}
