/* line 1, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-apple {
  color: #000;
  background-color: #76cd26;
}

/* line 6, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-aspargus {
  color: #fff;
  background-color: #77ab56;
}

/* line 11, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-apricot {
  color: #fff;
  background-color: #ffb16d;
}

/* line 16, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-aubergine {
  color: #fff;
  background-color: #3d0734;
}

/* line 21, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-avocado {
  color: #fff;
  background-color: #87a922;
}

/* line 26, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-banana {
  color: #000;
  background-color: #fafe4b;
}

/* line 31, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-butter {
  color: #000;
  background-color: #ffff81;
}

/* line 36, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-blueberry {
  color: #fff;
  background-color: #464196;
}

/* line 41, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-carrot {
  color: #fff;
  background-color: #e67e22;
}

/* line 46, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-cherry {
  color: #fff;
  background-color: #cf0234;
}

/* line 51, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-chocolate {
  color: #fff;
  background-color: #411900;
}

/* line 56, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-cranberry {
  color: #fff;
  background-color: #9e003a;
}

/* line 61, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-coffee {
  color: #fff;
  background-color: #a6814c;
}

/* line 66, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-egg {
  color: #000;
  background-color: #fffcc4;
}

/* line 71, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-grape {
  color: #fff;
  background-color: #6c3461;
}

/* line 76, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-kiwi {
  color: #000;
  background-color: #8ee53f;
}

/* line 81, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-lemon {
  color: #000;
  background-color: #fdff52;
}

/* line 86, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-lime {
  color: #000;
  background-color: #bffe28;
}

/* line 91, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-mango {
  color: #fff;
  background-color: #ffa62b;
}

/* line 96, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-mushroom {
  color: #fff;
  background-color: #ba9e88;
}

/* line 101, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-mustard {
  color: #fff;
  background-color: #ceb301;
}

/* line 106, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-mint {
  color: #000;
  background-color: #c0fa8b;
}

/* line 111, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-olive {
  color: #fff;
  background-color: #6e750e;
}

/* line 116, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-orange {
  color: #fff;
  background-color: #f97306;
}

/* line 121, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-pea {
  color: #fff;
  background-color: #a4bf20;
}

/* line 126, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-peach {
  color: #fff;
  background-color: #ffb07c;
}

/* line 131, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-pear {
  color: #000;
  background-color: #cbf85f;
}

/* line 136, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-pistachio {
  color: #000;
  background-color: #c0fa8b;
}

/* line 141, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-plum {
  color: #fff;
  background-color: #3f012c;
}

/* line 146, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-pomegranate {
  color: #fff;
  background-color: #c0392b;
}

/* line 151, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-pumpkin {
  color: #fff;
  background-color: #d35400;
}

/* line 156, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-raspberry {
  color: #fff;
  background-color: #b00149;
}

/* line 161, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-saffron {
  color: #fff;
  background-color: #feb209;
}

/* line 166, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-salmon {
  color: #fff;
  background-color: #ff796c;
}

/* line 171, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-spearmint {
  color: #000;
  background-color: #1ef876;
}

/* line 176, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-squash {
  color: #fff;
  background-color: #f2ab15;
}

/* line 181, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-strawberry {
  color: #fff;
  background-color: #fb2943;
}

/* line 186, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-tomato {
  color: #fff;
  background-color: #ec2d01;
}

/* line 191, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-wheat {
  color: #000;
  background-color: #fbdd7e;
}

/* line 196, ../../scss/w3-css/w3css-color-libraries-food.scss */
.w3-food-wine {
  color: #fff;
  background-color: #80013f;
}
