/* Global */
/* line 3, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
a, .w3-button {
  transition: 0.4s !important;
}

/* line 7, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
.ul-parent-account {
  color: inherit;
}

/* line 12, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#header .fa, #header .svg-inline--fa {
  color: inherit;
}

/* line 17, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#top-container .top-box > div, #bottom-container .bottom-box > div, #footer-container .footer-box > div {
  border-width: 1px;
  border-style: solid;
  transition: 0.4s !important;
}

/* Text Color - Dark */
/* line 25, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
html, body, button, input, select, optgroup, textarea, #page-title, #highlighted, .page-wrapper, #top-container, #main-container, #footer-container, .ul-parent-footer, .search-slide-wrapper, .pager__item.w3-light-gray a, #top-container .top-box > div, #footer-container .footer-box > div, #bottom-container .bottom-box > div, #footer-container .footer-box > div {
  color: #879295;
}

/* line 29, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #07dc5d;
}

/* Text Color - light */
/* line 35, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#header {
  color: #07dc5d !important;
}
/* line 38, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#header h1, #header h2, #header h3, #header h4, #header h5, #header a, #header p {
  color: #07dc5d !important;
}

/* line 43, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#copyright, .close-nav, .mobile-nav {
  color: #07ed64 !important;
}

/* line 47, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#footer-menu {
  color: #07ed64 !important;
}
/* line 50, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#footer-menu h1, #footer-menu h2, #footer-menu h3, #footer-menu h4, #footer-menu h5, #footer-menu a, #footer-menu p {
  color: #07ed64 !important;
}

/* line 55, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
.main-navigation-wrapper {
  color: #07ed64 !important;
}

/* dark Background  */
/* line 61, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
input, select, textarea, #page-title, #highlighted, .page-wrapper, #top-container, #footer-container, .search-slide-wrapper, #top-container .top-box > div, #main-container .main-box > div, #footer-container .footer-box > div, #bottom-container .bottom-box > div {
  background-color: #060707;
}

/* line 65, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#main-container, .search-slide-wrapper, .pager__item.is-active {
  background-color: #0e0f10 !important;
}

/* line 69, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#bottom-container, #header {
  background-color: #161819;
}

/* line 73, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
.close-nav, .mobile-nav, .main-navigation-wrapper {
  background-color: #0e0f10;
}

/* line 77, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#footer-menu {
  background-color: #060707;
}

/* line 81, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#footer-menu-inner form.w3-content {
  border: 1px solid #161819;
}

/* line 85, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#copyright {
  background-color: #000;
}

/* Border Color  */
/* line 91, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
.cke_top, .w3-border, ul.primary, .cke_bottom, .cke_chrome {
  border-color: #035825 !important;
}

/* line 96, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
ul.secondary, ul.primary > li {
  border-color: #035825 !important;
}

/* line 101, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#top-container .top-box > div, #bottom-container .bottom-box > div, #footer-container .footer-box > div {
  border-color: #035825;
}

/* Hover Color  */
/* line 107, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
.w3-hover-over:hover, .w3-button:hover, #open-search:hover, #open-nav-inner:hover, #footer-menu a.w3-button:hover {
  color: #fff !important;
  background-color: #023717 !important;
}

/* line 112, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
#top-container .top-box > div.animate-border:hover, #bottom-container .bottom-box > div.animate-border:hover, #footer-container .footer-box > div.animate-border:hover {
  box-shadow: 0 25px 57px 0 rgba(7, 220, 93, 0.3);
}

/* line 116, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
input:focus, select:focus, textarea:focus {
  box-shadow: 0 25px 57px 0 rgba(7, 220, 93, 0.3);
  border-color: #07ed64 !important;
}

/* line 121, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
input.search-button-block {
  background-image: url(../../images/icons/arrow-right-ccc.svg);
}

/* line 125, ../../scss/w3-css-theme-custom/w3-theme-00024.scss */
.w3-search-block-form .form-type-search:before {
  background-image: url(../../images/icons/search-ccc.svg);
}

/* button animation  */
@keyframes btnBorderAnimation {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: #07ed64;
  }
  99.9999% {
    width: 100%;
    height: 100%;
    border-bottom-color: #07ed64;
  }
  100% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }
}
/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: #07ed64;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #07ed64;
    border-right-color: #07ed64;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: #07ed64;
    border-right-color: #07ed64;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #07ed64;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #07ed64;
    border-left-color: #07ed64;
  }
  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #07ed64;
    border-left-color: #07ed64;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
