@keyframes animateimg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
/* line 11, ../../scss/theme/a-image.scss */
a.d8-has-image {
  overflow: hidden;
  display: block;
  height: 100%;
  min-width: 100%;
}
/* line 17, ../../scss/theme/a-image.scss */
a.d8-has-image > img.w3-image {
  width: 100%;
  float: left;
}

/* line 23, ../../scss/theme/a-image.scss */
.w3-disabled-has-image a.d8-has-image > img.w3-image {
  width: auto;
}

/* line 27, ../../scss/theme/a-image.scss */
a {
  transition: 0.4s;
}
/* line 28, ../../scss/theme/a-image.scss */
a:hover > img.w3-image {
  animation: animateimg 5s;
}

/* line 35, ../../scss/theme/a-image.scss */
li a, a .fa, button, .w3-button {
  transition: 0.4s;
}
