/* line 1, ../../scss/components/breadcrumb.scss */
ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
}
/* line 5, ../../scss/components/breadcrumb.scss */
ul.breadcrumb li {
  display: inline;
  border-bottom: none;
  padding: 5px 3px 5px;
}
/* line 10, ../../scss/components/breadcrumb.scss */
ul.breadcrumb li + li:before {
  padding: 8px 0;
  content: "/\00a0";
}
