/* line 1, ../../scss/components/contact-form.scss */
form.contact-form .form-actions {
  text-align: center;
}
/* line 4, ../../scss/components/contact-form.scss */
form.contact-form .form-actions .w3-button {
  float: none;
  padding: 12px 24px;
}
