/* line 1, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
html, body, button, input, select, optgroup, textarea, .ul-parent-account, .ul-parent-footer {
  color: #000d14;
}

/* line 5, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #004669;
}

/* line 9, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
.cke_top, .w3-border, ul.primary, .cke_bottom, .cke_chrome {
  border-color: #e1e8ed !important;
}

/* line 14, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
ul.secondary, ul.primary > li {
  border-color: #e1e8ed !important;
}

/* line 19, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
a, .w3-button {
  transition: 0.4s !important;
}

/* line 23, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
.w3-hover-over:hover, #open-nav-inner:hover, #open-search:hover, .w3-button:hover {
  color: #bee9ff !important;
  background-color: #004669 !important;
}

/* line 28, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
.ul-parent-account {
  color: inherit;
}

/* line 33, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#header .fa, #header .svg-inline--fa {
  color: inherit;
}

/* line 38, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#page-title, #highlighted, .page-wrapper, #top-container, #footer-container, .search-slide-wrapper, #top-container .top-box > div, #main-container .main-box > div, #footer-container .footer-box > div, #bottom-container .bottom-box > div {
  background-color: white;
  color: #000d14;
}

/* line 43, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
.main-navigation-wrapper, .close-nav, .mobile-nav {
  background-color: #008acf;
  color: white;
}

/* line 48, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#header {
  background-color: #007fbe;
  color: white !important;
}

/* line 54, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#footer-menu h1, #footer-menu h2, #footer-menu h3, #footer-menu h4, #footer-menu h5, #footer-menu a, #footer-menu p {
  color: white !important;
}

/* line 60, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#header h1, #header h2, #header h3, #header h4, #header h5, #header a, #header p {
  color: white !important;
}

/* line 65, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#main-container {
  background-color: #f7f7f7;
  color: #000d14;
}

/* line 70, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#top-container .top-box > div, #bottom-container .bottom-box > div, #footer-container .footer-box > div {
  border: 1px solid #e1e8ed;
}

/* line 74, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
input:focus, select:focus, textarea:focus {
  box-shadow: 0 25px 57px 0 rgba(0, 0, 0, 0.25);
  border-color: #c1d0da;
}

/* line 79, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#bottom-container, .pager__item.is-active {
  background-color: #f9f9f9;
  color: #000d14;
}

/* line 84, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#footer-menu {
  background-color: #000d14;
  color: white;
}

/* line 89, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#footer-menu-inner form.w3-content {
  border: 1px solid #445963;
}

/* line 93, ../../scss/w3-css-theme-custom/w3-theme-00002.scss */
#copyright {
  background-color: #000203;
  color: white;
}

/* button animation  */
@keyframes btnBorderAnimation {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: #fff;
  }
  99.9999% {
    width: 100%;
    height: 100%;
    border-bottom-color: #fff;
  }
  100% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }
}
/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: #819fb4;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #819fb4;
    border-right-color: #819fb4;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: #819fb4;
    border-right-color: #819fb4;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #819fb4;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #819fb4;
    border-left-color: #819fb4;
  }
  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #819fb4;
    border-left-color: #819fb4;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
