/* line 1, ../../scss/w3-css/w3css-color-libraries-us-safety.scss */
.w3-safety-red {
  color: #fff;
  background-color: #bd1e24;
}

/* line 6, ../../scss/w3-css/w3css-color-libraries-us-safety.scss */
.w3-safety-orange {
  color: #fff;
  background-color: #e97600;
}

/* line 11, ../../scss/w3-css/w3css-color-libraries-us-safety.scss */
.w3-safety-yellow {
  color: #fff;
  background-color: #f6c700;
}

/* line 16, ../../scss/w3-css/w3css-color-libraries-us-safety.scss */
.w3-safety-green {
  color: #fff;
  background-color: #007256;
}

/* line 21, ../../scss/w3-css/w3css-color-libraries-us-safety.scss */
.w3-safety-blue {
  color: #fff;
  background-color: #0067a7;
}

/* line 26, ../../scss/w3-css/w3css-color-libraries-us-safety.scss */
.w3-safety-purple {
  color: #fff;
  background-color: #964f8e;
}
