details {
  &.form-wrapper {
    &::after {
      content: "";
      clear: both;
      display: table;
    }

    padding: 0 !important;
    margin-bottom: 8px !important;
    line-height: inherit;
    color: inherit;

    > summary {
      cursor: pointer;
      padding: 8px 16px;
    }
  }

  &[open] {
    padding: 8px 16px !important;
  }
}

.modules-wrapper details[open] {
  padding: 8px 16px !important;
  background: white;
}

.vertical-tabs details[open] {
  padding: 0 !important;
}

details[open] > summary {
  padding: 0 0 8px 0;
}

form {
  .tableselect-sort {
    th:first-child, td:first-child {
      width: 85px;
    }
  }

  tr.draggable td > {
    a {
      float: left !important;
      padding: 0 !important;
      margin: 0 !important;
      clear: none !important;
    }

    div {
      &.form-type-radio, &.form-type-checkbox {
        float: left !important;
        padding: 0 !important;
        margin: 0 !important;
        clear: none !important;
      }
    }
  }

  a.tabledrag-handle .handle {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .draggable a.tabledrag-handle {
    margin: -3px 5px 0 0 !important;
    width: 25px;
  }

  tr.draggable {
    .w3-check, .w3-radio {
      top: 0;
    }
  }

  .field-multiple-drag {
    width: 50px;
  }

  div.form-type-datelist.w3-section.form-item {
    width: auto;
    clear: none;
  }

  .form-type-date label, .form-item-color label, .form-type-select label, .form-type-datelist label, .form-type-datetime label {
    display: block;
    clear: both;
  }
}

.form-type-datelist > div {
  padding-left: 0;
}

form {
  #edit-datelist {
    padding: 0;
    margin: 0;
  }

  #edit-datetime {
    padding: 0;
    margin: 0;

    > div {
      float: left;
      margin: 0 !important;
      width: 50%;

      input {
        min-width: 165px;
      }
    }
  }

  .form-type-date, .form-type-datetime, .form-type-webform-time {
    width: 50% !important;
    float: left;
    clear: none;
  }

  .form-type-date input, .form-type-datetime input, .form-type-webform-time input {
    width: calc(100% - 2px);
  }

  .form-item-range {
    > span.field-suffix {
      display: block;
      float: left;
      width: 100%;
    }

    .form-item-range__output {
      display: block;
      float: left;
      width: 100%;

      input {
        width: 4em;
        display: inline-block;
        clear: none;
      }
    }
  }

  .form-item-datelist #edit-datelist > div select {
    padding-left: 10px;
    padding-right: 10px;
  }

  .table-sort-weight.form-select {
    width: auto;
  }

  select {
    min-width: 75px;
  }
}

.messages.messages--info {
  background-position: 2px  17px;
}

.js-filter-guidelines {
  font-size: 85%;

  li {
    padding-bottom: 0;
  }
}

form .form-item {
  text-align: left;
}

fieldset.form-item > .fieldset-wrapper {
  padding: 0;
}

.field-ui-overview .field-plugin-settings-edit {
  width: auto !important;
  max-width: 40px;
}

form .form-item label {
  padding-right: 10px;
}

table ul.dropbutton {
  li.w3-left.dropbutton-action {
    float: none !important;
    z-index: 1;
    margin-right: 0 !important;
    line-height: 26px;
  }

  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 0 !important;
}

.js .dropbutton-widget .dropbutton {
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 0 !important;
}

.dropbutton {
  li {
    padding: 0;

    a {
      padding: 6px 12px;
      line-height: 26px;
      font-size: 14px;
    }
  }

  button {
    border: 1px solid #e8e8e8;
    border-left: none;
    background-color: white;
  }
}

.js td .dropbutton-wrapper {
  min-height: 40px;
}

table ul.dropbutton li:first-child {
  margin-right: 10px !important;
}

.node-form table ul.dropbutton li:first-child {
  margin-right: 0 !important;
}

table ul.dropbutton li.dropbutton-toggle {
  margin-right: 0 !important;
  margin-left: 10px;
}

/* Node preview */

.node-preview-container {
  position: relative;
  background-color: transparent;

  .node-preview-form-select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    margin: 0 auto !important;
  }

  a.node-preview-backlink {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;

    &:hover {
      text-decoration: underline;
    }
  }
}

div.node-preview-container .form-item-view-mode {
  display: inline-flex;
  align-items: center;

  label {
    display: inline-block;
    width: auto;
    border: none !important;
  }

  select {
    display: inline-block;
    width: auto;
    border: none !important;
    min-width: 130px;
  }
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane .button {
  margin: 10px auto;
}

fieldset {
  border-color: #eaeaea !important;
}

.ui-dialog {
  border-width: 0 !important;

  > div {
    border-width: 0 !important;
  }
}

body .ui-dialog {
  z-index: 1001 !important;
}

.vertical-tabs .vertical-tabs__panes {
  padding: 0 16px;
}

span {
  &.admin-link button, &.field-edit-link button {
    border: none !important;
    background-color: transparent !important;
  }
}
